<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>{{nombrePagina}}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.0/css/all.css"
        integrity="sha384-Mmxa0mLqhmOeaE8vgOSbKacftZcsNYDjQzuCOm6D02luYSzBG8vpaOykv9lFQ51Y" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/skel.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/style-xlarge.css" />

</head>

<body class="landing">
    <!-- Header -->
    <header id="header">
        {{#if barra}}
        <h1><a href="/">FINANCE</a></h1>
        <nav id="nav">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/usuario/iniciarSesion" class="button special">Iniciar Sesión</a></li>
            </ul>
        </nav>
        {{/if}}

        {{#if cerrarSesion}}
        <h1><a href="/">FINANCE</a></h1>
        <nav id="nav">


            <ul>

                <li>
                    <p>Bienvenido {{nombre}}</p>
                </li>
                <li>
                    <a href="/editarPerfil" class="button special">Editar Perfil</a>
                </li>

                <li><a href="/cerrarSesion" class="button special">Cerrar Sesión</a></li>
                <li>

                    <img src="/uploads/perfiles/{{imagen}}" />

                </li>

            </ul>
        </nav>
        {{/if}}
    </header>




    <div class="contenido-principal contenedor">

        {{#if messages}}
        <div class="alertas">
            {{#mostrarAlertas messages}}
            {{/mostrarAlertas}}
        </div>
        {{/if}}

        {{{body}}}


    </div>
    <!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/skel.min.js"></script>
    <script src="/js/skel-layers.min.js"></script>
    <script src="/js/init.js"></script>
    <script src="/dist/bundle.js"></script>



</body>

</html>