<section class="bg-light form_2">
    <form action="/nuevo/usuario" method="post" class="pt-105 pb-100">
        <h2 class="mb-45 small">
            Ingresa tus Datos
        </h2>
        <div>
            <div class="mb-10 f-14 semibold text-uppercase sp-20">Nombre</div>
            <input type="text" name="nombre" placeholder="Tu nombre"
                class="mb-25 w-full input lg border-gray focus-action-1 color-heading placeholder-gray text-center text-sm-left"
                required />
        </div>

        <div>
            <div class="mb-10 f-14 semibold text-uppercase sp-20">
                Correo Electronico
            </div>
            <input type="email" name="email" placeholder="Tu correo"
                class="mb-25 w-full input lg border-gray focus-action-1 color-heading placeholder-gray text-center text-sm-left"
                required />
        </div>

        <div>
            <div class="mb-10 f-14 semibold text-uppercase sp-20">
                Password
            </div>
            <input type="password" name="password" placeholder="Tu password"
                class="mb-25 w-full input lg border-gray focus-action-1 color-heading placeholder-gray text-center text-sm-left"
                required />
        </div>

        <div class="mt-25 d-flex flex-wrap align-items-center buttons">
            <button class="mr-20 mb-20 mb-xl-0 w-210 btn lg action-1">
                Crear Cuenta
            </button>
        </div>
    </form>
</section>