<section id="three" class="wrapper style3 special">
    <div class="container">
        <header class="major">
            <h2>Ingresa tus datos</h2>
            <p>Lorem ipsum dolor sit amet. Delectus consequatur, similique quia!</p>
        </header>
    </div>

    <div class="container 50%">

        <form action="/crearImporte" method="post">
            <div class="campo">
                <div class="">
                    <label for="cantidad">Tu presupuesto</label>
                    <input type="text" name="cantidad" placeholder="Ingresa tu presupuesto maximo">
                </div>


                <div class="btn btn-azul">
                    <button id="btnGuardar" type="submit">Ingresar</button>
                </div>
            </div>
        </form>
</section>