<section id="three" class="wrapper style3 special">
    <div class="container">
        <header class="major">
            <h2>Nuevo Gasto</h2>
            <p>Llena todos los campos</p>
        </header>
    </div>

    <div class="container 50%">

        <form action="/crearInsumo" method="post">
            <div class="campo">
                <div class="row uniform">
                    <div class="6u 12u$(small)">
                        <label for="total">Total</label>
                        <input name="total" placeholder="L. 2000" type="text">
                    </div>
                    <div class="6u$ 12u$(small)">
                        <label for="fecha">Fecha</label>
                        <input class="fecha" type="date" name="fecha" value="2019/10/22">
                    </div>
                    <div class="12u$">

                        <textarea name="descripcion" placeholder="Descripción" rows="6"></textarea>
                    </div>
                </div>

                <div class="btn btn-azul">
                    <button type="submit">Agregar</button>
                </div>
            </div>
        </form>
</section>