<main class="paginaError">
    <div class="icono">
        {{!-- <i class="fas fa-desktop"> </i> --}}
        <i class="fas fa-exclamation-triangle"></i>
    </div>
    <div class="error404">
        404
    </div>
    <div>
        <h2 class="message"> {{message}}</h2>
    </div>
    <div class="volver">
        <a href="/">Volver al inicio</a>
    </div>

</main>