<section class="content_2 bg-light pt-105 pb-95">
    <div class="container px-xl-0 text-center">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-10" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">
                <h2>Controla tus Finanzas</h2>
            </div>
            <div class="col-xl-7 col-lg-9 col-md-10" data-aos-duration="600" data-aos="fade-down" data-aos-delay="300">
                <div class="mt-35 f-18 medium color-heading op-7 text-adaptive">
                    ¿Sientes que el dinero se te escapa de las manos? <br> <br>

                    Nuestro sitio web te permitira tener un mayor control de tu dinero de todos los gastos
                    que realices, te ayudaremos a controlar tus estados financieros y advirtiendo tu
                    limite de presupuesto.


                </div>
            </div>
        </div>
    </div>
</section>

<!-- Feature 1 -->

<section class="feature_1 bg-light pt-105 pb-45 text-center">
    <div class="container px-xl-0">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <h2 class="mb-45 small" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">
                    Nuestros Beneficios
                </h2>
                <div class="row justify-content-center">
                    <div class="col-md-4 mb-50" data-aos-duration="600" data-aos="fade-down" data-aos-delay="300">
                        <i class="fas fa-level-down-alt f-60 action-3"></i>

                        <div class="mt-20 mb-25 f-22 title">

                            Reduce tus Gastos
                        </div>
                        <div class="color-heading text-adaptive">
                            Solo con mirar el presupuesto, puedes identificar tus gastos
                            que puedes reducir para utilizar en otras cosas, al analizar la cantidad sabras en que
                            deberías gastar en servicios o gastos cada mes y dando seguimiento al concepto.
                        </div>
                    </div>
                    <div class="col-md-4 mb-50" data-aos-duration="600" data-aos="fade-down" data-aos-delay="600">
                        <i class="fas fa-dollar-sign f-60 action-3"></i>

                        <div class="mt-20 mb-25 f-22 title">

                            Ahorras tu Dinero

                        </div>
                        <div class="color-heading text-adaptive">
                            Puedes revisar y ajustar tus inversiones y
                            ahorros de manera regular si tu ingreso cambia significativamente cada mes.
                        </div>
                    </div>
                    <div class="col-md-4 mb-50" data-aos-duration="600" data-aos="fade-down" data-aos-delay="900">
                        <i class="fas fa-chart-bar f-60 action-3"></i>
                        <div class="mt-20 mb-25 f-22 title">

                            Planeación

                        </div>
                        <div class="color-heading text-adaptive">

                            Te permitimos distribuir de manera equitativa tus cuentas o en el
                            transcurso de un periodo de tiempo. Esto te permitirá
                            planear tus gastos cada mes.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer 1 -->

<footer class="footer_1 bg-light pt-75 pb-65 text-center">
    <div class="container px-xl-0">

        <div class="mb-10 mb-lg-0 col-lg-auto order-0" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">
            <a href="#" class="logo link color-main">Startup 3</a>
        </div>
        <div class="row justify-content-center">
            <div class="mt-10 col-xl-4 col-lg-5 col-md-6 col-sm-8" data-aos-duration="600" data-aos="fade-down"
                data-aos-delay="0">
                <div class="color-heading text-adaptive">
                    Todos los derechos reservados. &copy;

                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 text-sm-left text-lg-right order-2 order-lg-0" data-aos-duration="600"
            data-aos="fade-down" data-aos-delay="300">
            <a href="#" class="mr-15 link color-main">Contacts</a>
            <a href="#" class="mx-15 link color-main"><i class="fab fa-twitter"></i></a>
            <a href="#" class="mx-15 link color-main"><i class="fab fa-facebook-square"></i></a>
            <a href="#" class="ml-15 link color-main"><i class="fab fa-google-plus-g"></i></a>
        </div>


    </div>
</footer>