<section id="three" class="wrapper style3 special">
    {{!-- <div class="container">
        <header class="major">
            <h2>Iniciar Sesión</h2>
            <p>Lorem ipsum dolor sit amet. Delectus consequatur, similique quia!</p>
        </header>
    </div> --}}
    <div class="container 50%">
        <form action="/insumoUsuario" method="post">

            <div class="acciones btnVerde">
                <a href="">Presupuesto</a>
                <a href="/crearInsumo">Nuevo Insumo</a>
            </div>


            <p id="total">Total Actual:</p>



            <table class="table table-hover" id="insumo">

                <thead>
                    <tr>
                        <td scope="col">Descripción</td>
                        <td scope="col">Fecha</td>
                        <td scope="col">Total</td>
                        <td scope="col">Acciones</td>
                    </tr>
                </thead>
                {{#each insumos}}
                <tbody class="insumo">
                    <tr>

                        <td>{{descripcion}}</td>
                        <td>{{fecha}}</td>
                        <td>L. {{total}}</td>
                        <td>
                            <div class="contenedor">
                                <button type="submit" class="accion">Eliminar</button>
                                <button type="submit" class="accion">Editar</button>

                            </div>

                        </td>
                    </tr>

                </tbody>
                {{/each}}
            </table>

        </form>
    </div>
</section>