<section id="three" class="wrapper style3 special">
    <div class="container">
        <header class="major">
            <h2>Nueva Constraseña</h2>
            <p>Ingresa tu nueva contraseña</p>
        </header>
    </div>
    <div class="container 50%">
        <form method="post">
            <div class="campo">
                <div class="">
                    <label for="password">Contraseña</label>
                    <input type="password" name="password" placeholder="Ingresa tu nueva contraseña">
                </div>

                <div class="btn btn-azul">
                    <button type="submit">Guardar Contraseña</button>
                </div>
            </div>
        </form>
    </div>
</section>