<section id="three" class="wrapper style3 special">
    <div class="container">
        <header class="major">
            <h2>Restablecer Constraseña</h2>
            <p>¿Olvidades tu contraeña?, coloca tu correo electrónico</p>
        </header>
    </div>
    <div class="container 50%">
        <form action="/restablecerPassword" method="post">
            <div class="campo">
                <div class="">
                    <label for="email">Correo Electrónico:</label>
                    <input type="email" name="email" placeholder="Ingresa tu correo electrónico">
                </div>

                <div class="registrar">
                    <a href="/usuario/iniciarSesion">Volver a inicio de sesión</a>
                </div>
                <div class="btn btn-azul">
                    <button type="submit">Restablecer contraseña</button>
                </div>
            </div>
        </form>
    </div>
</section>