<h1>Restablece tu contraseña</h1>
<p>Haz click en el enlace para cambiar tu contraseña</p>

<a href="{{restUrl}}">Restablece constraseña</a>
<p>Si no solicitastes este correo electronico, puedes ignoralo</p>